.System {
    transform-box: fill-box;
    transform-origin: center center;
    transition: transform ease-in ;
}

.System.Selected {
    transform: scale(1);
}

.System > .Orbits {
    transform-box: fill-box;
    transform-origin: center center;
    transform: skewX(-40deg);
    visibility: hidden;
}

.System > .Planets {
    visibility: hidden;
}

.System.Selected > .Planets {
    visibility: visible;
}

.System.Selected > .Orbits {
    visibility: visible;
}

.System > .SelectTarget {
    r: 15;
    fill: transparent;
    stroke-width: 0;
}

.System.Selected > .SelectTarget {
    stroke: #00ff00;
    stroke-width: 2px;
}

.System > .Star.blue {
    fill: #668cd3;
    r: 12;
    filter: blur(2px);
}

.System > .Star.white {
    fill: #ccddff;
    r: 10;
    filter: blur(2px);
}

.System > .Star.yellow {
    fill: #eeff02;
    r: 8;
    filter: blur(2px);
}

.System > .Star.orange {
    fill: #ffd900;
    r: 8;
    filter: blur(2px);
}

.System > .Star.red {
    fill: #d10202;
    r: 6;
    filter: blur(2px);
}